---
import FormattedDate from './FormattedDate.astro';
import type { Concert } from '../types/concert';

export interface Props {
  concert: Concert;
  index: number;
}

const { concert, index } = Astro.props;
---

<>
  <tr class="hover:bg-gray-50 transition">
    <td
      class="py-2 px-3 border-b font-mono text-3xl text-gray-50 bg-gray-500 text-center">
      {index + 1}
    </td>
    <td class="py-2 px-3 border-b text-gray-700">
      <FormattedDate date={concert.data.date} />
    </td>
    <td class="py-2 px-3 border-b text-gray-700">
      <span>{concert.data.venue.name.replace("'", '’')}</span>
      <br />
      <span class="text-gray-500 text-sm italic">
        {concert.data.venue.city}, {concert.data.venue.country}
      </span>
    </td>
    <td class="py-2 px-3 border-b">
      <button
        type="button"
        onclick={`
          const row = document.getElementById('setlist-row-${index}');
          const btn = this;
          row.classList.toggle('hidden');
          btn.setAttribute('aria-expanded', !row.classList.contains('hidden'));
          btn.textContent = row.classList.contains('hidden') ? 'View' : 'Hide';
          `}
        class="px-3 py-1 w-16 rounded bg-gray-100 hover:bg-gray-200 hover:font-bold text-gray-700 text-sm transition"
        aria-controls={`setlist-row-${index}`}
        aria-expanded="false">
        View
      </button>
    </td>
  </tr>
  <tr id={`setlist-row-${index}`} class="hidden">
    <td colspan="4" class="p-0 bg-gray-50">
      <section aria-label="setlist">
        <ul class="w-full px-8 py-4 text-gray-600 text-base">
          {
            concert.data.songs &&
              concert.data.songs.map((song: { title: string }, index: number) => (
                <li class="mb-1">
                  <span class="font-mono text-gray-500">{index + 1}.</span>{' '}
                  {song.title.replace("'", '’')}
                </li>
              ))
          }
        </ul>
      </section>
    </td>
  </tr>
</>
